
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=KoHo');
#banner{
	    width:500px;
		margin:auto;
		border: gold 10px inset;
		text-align:center;
		background-image:url("https://c.stocksy.com/a/9Ub500/z9/1335737.jpg");
		background-size: 100%;
		font-family:'Indie Flower', cursive;
		color:#3399ff;
		font-size: 24px;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		border-radius: 24px;

}
#nav{
		white-space: nowrap;
		text-align: center;
}
#main{
		width:500px;
		margin-left: auto;
		margin-right: auto;
		border: groove 10px #ffcc00;
		background-image:url("https://c.stocksy.com/a/baF200/z9/536585.jpg");
        background-size:100%;
		color:aqua;
		font-family: 'KoHo', sans-serif;
}
#footer{
	width:500px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Indie Flower', cursive;
	border: gold 10px outset;
	background-image: url("https://c.stocksy.com/a/G6r700/z1/1872416.jpg");
	font-size:20px;
	color:blue;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-transform: uppercase;
    padding-top: 10px;
    border-radius: 24px;
}
body{
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fEQMZ3oM-i7AXnOuNB6vDGN1rJiibpX3Lqc2g0qjnMnmPGGH");
    margin:0;
    font-family: 'Shadows into  Light', cursive;
}
#nav a{
	font-family: 'Shadows into Light', cursive;
	color:#0000cc;
	text-transform: uppercase;
	margin-right: 10px;
	padding:10px;
}
.imgLeft{
	float:left;
	margin-right: 15;
}
.imgRight{
	float:right;
	margin-left: 15;
}
